.shorttxt  {
    font-size: 14px;
}

.container__tools, .container__result  {
    max-width: 500px;
}

.tool  {
    min-height: 120px;
    min-width: 300px;
    background-color: #f1f7fa;
    padding: 1rem;
    border-radius: 5px;
}

.tool--mini  {
    min-width: 150px;
    cursor: grab;
}

.tool--mini.active  {
    background-color: #a5d5ed;
}

.highlight  {
    color: white;
    background-color: black;
}

.magnify:hover  {
    transform: scale(1.1);
}

@media (width<400px) {
    .tool  {
        min-width: 100%;
    }
}